
Notebooks/.DS_Store
Notebooks/.DS_Store
Notebooks/.ipynb_checkpoints/Untitled-checkpoint.ipynb
Notebooks/.ipynb_checkpoints/Untitled1-checkpoint.ipynb
Notebooks/.ipynb_checkpoints/Untitled3-checkpoint.ipynb
